* {
	padding: 0;
	margin: 0;
}
h1,
h2 {
	font-family: "sofia";
}
img {
	max-width: 100%;
	max-height: 30rem;
}
a {
	text-decoration: none;
}
/* utilities */

/* header */
.site-init1 {
	background-color: #d6fff6;
	background-image: url(./img/back-ground.jpg);
	background-blend-mode: overlay;
	height: 12rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 2rem;
}
.flex-container {
	display: flex;
	flex-direction: column;
}

.nav-container {
	width: 20%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	font-size: 2rem;
	color: black;
}
.nav-container a {
	padding: 1rem;
	margin: 1rem;
	text-decoration: none;
}
.nav-container a:hover {
	background-color: aqua;
	border-radius: 10px;
}
.logo {
	max-width: 8rem;
	max-height: 8rem;
	margin: auto;
}
/* Main */
.display-salon {
	background-color: aqua;
	color: black;
	margin: 2rem 0 2rem 0;
	padding: 3rem;
	/* width: 100%; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.display-salon:hover {
	cursor: pointer;
}
main {
	margin-left: 20%;
	margin-right: 20%;
}
.welcome-section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 15rem 3rem 12rem;
	grid-column-gap: 2rem;
	justify-content: center;
	align-content: center;
	justify-items: center;
	text-align: center;
}
.welcom-img {
	max-width: 12rem;
	height: 11rem;
	object-fit: cover;
	border-radius: 200px;
}
.welcom-img:hover {
	transform: scale(1.2);
	transition: ease-in-out 0.5s;
	box-shadow: 10px 3px 10px #6e6b6b;
}
.form-area {
	display: flex;
	flex-direction: column;
	border: solid black;
}

/* footer */
footer {
	margin: 1rem;
	/* height: 7rem; */
	background-color: aqua;
	font-weight: bold;
	display: flex;
	/* justify-content: center; */
	justify-items: center;
}

/* register */
.mb-3 {
	padding: 1rem;
}
.form1 {
	padding: 1rem;
}
.reg-container {
	margin-top: 2rem;
	border: solid 2px black;
	/* height: 28rem; */
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-gap: 1rem;
	display: flex;
	flex-direction: column;
	overflow: auto;
}
.grid1 {
	grid-area: top;
	text-align: center;
	background-color: #6e6b6b;
	color: #d6fff6;
}
/* .grid2 {
	grid-area: main1;
}
.grid3 {
	grid-area: top2;
}
.grid4 {
	grid-area: main2;
} */
/* .grid5 {
	grid-area: main2;
	border: solid 1px;
	height: max-content;
} */
.display-area {
	background-color: rgb(84, 222, 195);
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: auto;
	font-size: 24px;
}
.gallery {
	padding: 1rem;
	width: fit-content;
	font-weight: bold;
	font-family: "sofia";
	font-size: 32px;
}
.form-div {
	display: none;
	transform: ;
	transition: 3s ease-in-out;
}
.hide-button {
	display: none;
	transition: 3s ease-in-out;
}
